/* Estilos Globais */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #000;
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #FFFFFF; /* Neon Branco */
}

/* Seção de Downloads */
main {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

#downloads h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #FFFFFF; /* Neon Branco */
    text-shadow: 0 0 10px #FFFFFF, 0 0 20px #FFFFFF;
}

.download-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

/* Cartões Futuristas */
.download-card {
    background-color: #111;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(255, 255, 255, 0.3); /* Neon Branco */
    padding: 20px;
    width: 300px;
    transition: box-shadow 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.2); /* Neon Branco */
}

.download-card:hover {
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.5); /* Neon Branco */
}

/* Títulos e Parágrafos dos Cartões */
.download-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #FFFFFF; /* Neon Branco */
}

.download-card p {
    font-size: 16px;
    margin-bottom: 20px;
}

/* Botões Neon */
.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007F7F;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Neon Branco */
}

.download-button:hover {
    background-color: #FFFFFF;
    box-shadow: 0 0 20px rgba(255, 255, 255, 1); /* Neon Branco */
}

/* Estilo Neon para Texto e Bordas */
.neon-text {
    color: #FFFFFF;
    text-shadow: 0 0 10px #FFFFFF, 0 0 20px #FFFFFF;
}

.neon-border {
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}

/* Estilo para as Imagens Futuristas */
.image-center {
    margin: 30px 0;
}

.image-center img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4); /* Brilho nas bordas da imagem */
    border-radius: 10px;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
    border-top: 1px solid #333;
}
